# Ignore node_modules directory
node_modules/

# Ignore .env files that may contain sensitive information
.env*

# Ignore any logs or build files
logs/
build/

# Ignore any editor-specific files
.vscode/
.idea/

# Ignore any package-lock.json or yarn.lock files
package-lock.json
yarn.lock

# Ignore any user-specific configuration files
*.log
*.log.*
*.sqlite
*.log.db

# Ignore shell scripts
*.sh